<nav class="navbar navbar-default navbar-top">
  asdasd sad
</nav>
<nav class="navbar navbar-expand-lg navbar-light  navbar-main">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
          >Disabled</a
        >
      </li>
    </ul>
    <ul>
      <li class="nav navbar-right">
        <div class="basket-container">
          <a href="#"
            >Корзина
            <span id="basket-total-amount">
              {% if products_total_amount %} ({{ products_total_amount }}) {% else %} (0) {% endif %}
            </span>
          </a>
          <div class="basket-items d-none">
            <ul>
              {% for product_in_basket in products_in_basket %}
              <li>{{ product_in_basket.product.name }}, 
              {{product_in_basket.amount }} шт.  
              по {{ product_in_basket.price_per_item }} руб.
              <a class="delete-item" href="" data-product_id="{{ product_in_basket.id }}" >x</a>
            </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </{{>
    </ul>
  </div>
</nav>
